hostname         	"My GMod Server"
rcon_password    	""
sv_password      	""
sv_region        	255
sv_lan           	0
sv_logbans       	1
sv_logecho       	1
sv_logfile       	1
sv_log_onefile   	0
sv_noclipspeed   	5
sv_noclipaccelerate	5
logging          	on
//Sandbox Settings
sbox_allownpcs  	0
sbox_godmode     	0
sbox_plpldamage  	0
sbox_playergod   	0
sbox_noclip      	1
sbox_maxprops    	250
sbox_maxragdolls 	5
sbox_maxnpcs     	5
sbox_maxballoons 	25
sbox_maxeffects  	25
sbox_maxdynamite 	5
sbox_maxlamps    	10
sbox_maxthrusters	250
sbox_maxwheels   	50
sbox_maxhoverballs	 50
sbox_maxvehicles 	8
sbox_maxbuttons  	50
sbox_maxsents    	20
sbox_maxemitters 	5
sbox_maxspawners 	3
sbox_maxturrets  	10
//Server Settings
net_maxfilesize  	30000000
sv_minrate       	0 
sv_maxrate       	25000000
decalfrequency   	10
sv_maxupdaterate 	66
sv_minupdaterate 	10
//Execute ban files
exec banned_ip.cfg
exec banned_user.cfg